{% extends 'base.html' %}

{% block title %} Reestablecer Contraseña{% endblock %}
{% block content %}
{% if validlink %}
<div class="container">
  <h3>Reestablezca su contraseña</h3>
  <form method="post">
    {% csrf_token %}

    {{form.new_password1.errors}}
    <label for="id_new_password1">Nueva contraseña: </label>
    {{form.new_password1}}

    {{form.new_password2.errors}}
    <label for="id_new_password2">Confirme contraseña: </label>
    {{form.new_password2}}
    <button type="submit" class="btn waves-effect waves-light" name="button">Cambiar Contraseña</button>
  </form>
  {% else %}
    <h1 class="text-center">Enlace invalido</h1>
  {% endif %}

</div>
{% endblock %}
