{% extends 'base.html' %}


{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
  <h4>Cambio de Contraseña</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn waves-effect waves-light" name="button">Cambiar</button>
  </form>
</div>
<br>
<script>
  $(document).ready(function(){
    $('label[for="id_old_password"]').html('Vieja contraseña: ');
    $('label[for="id_new_password1"]').html('Nueva contraseña ');
    $('label[for="id_new_password2"]').html('Confirmar contraseña: ');
  });
</script>
{% endblock %}
