{% extends "base.html" %}
{% block title %} Paypal {% endblock %}

{% block content %}
<div class="container">
<H4 >Citas realizadas</H4>
<p>Para mayor informacion hacer clic sobre la fecha deseada</p>

<table class="highlight">
  <thead>
    <tr>
      <th>Fecha de la cita</th>
      <th>Hora de la cita</th>
      <th>Lugar de la cita</th>
    </tr>
  </thead>
  <tbody>
    {% for item in list %}
    <tr>
      <td>
        <a href="/citasdescripcion/{{ item.id }}/">{{ item.CitaFecha}}</a>
      </td>
      <td>
        {{item.get_CitaHora_display}}
      </td>
      <td>
        {{item.LugarCita}}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>


</div>

{% endblock %}
