{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center black-text">Bienvenido a Sastrería Beltrán</h1>
    <div class="row center">
      <h5 class="header col s12 light">Brindamos el mejor servicio de Sastrería en la Ciudad de Tijuana</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light black">Registrate</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Nuestro sericio es rapido</h5>

          <p class="light">Tenemos la capacidad de darte tu pedido lo mas pronto posible para que luzcas excelente en el evento que deseas estar.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Servicio al Cliente</h5>

          <p class="light">Nuestra plataforma te brinda la funcion de poder contactarnos en caso de que quieras saber sobre tu pedido, cita, o bien brindarte informacion acerca de los servicios que ofrecemos.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Registrate para un mejor servicio</h5>

          <p class="light">Nuestra plataforma ya cuenta con registro de usuario, para brindarte un mejor servicio en tus compras, rentas, citas o bien informacion de nuestro catalogo.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>  
{% endblock %}
