{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center black-text">Bienvenido a Sastrería Beltrán</h1>
    <div class="row center">
      <h5 class="header col s12 light">¡Ofrecemos todo tipo de reparaciones en cualquiera de sus prendas!</h5>
    </div>
<!--
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light black">Registrate</a>
    </div>
  -->
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <center>
          <img class="responsive-img" src="/static/media/icon1.png">
          </center>
          <h5 class="center">Reparaciones de alta calidad</h5>

          <p class="light">Reparamos la ropa a su gusto,sin notar donde fue reparada</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <center>
          <img class="responsive-img" src="/static/media/icon2.png">
          </center>
          <h5 class="center">Renta de tuxedos</h5>

          <p class="light">Contamos con un amplia gama de  de colores y combinaciones de accesorios que acompañen nuestros tuxedos</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <center>
          <img class="responsive-img" src="/static/media/icon3.png">
          </center>
          <h5 class="center">Trajes a la medida</h5>

          <p class="light">Animate a venir a cotizar un traje hecho solo para ti , con nuestra gran variedad de telas</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class= "container">
<div class="section">
  <div class="row">
    <div class="col s4 m2">
          <left>
          <img class="responsive-img" src="/static/media/icon7.png" width="70" height="70">
        </left>
      </div>
      <div class="col s4">

          <h6 class="center">Reparaciones urgentes</h5>

          <p class="light">Haremos nuestro mejor esfuerzo por tí.</p>

      </div>
      <div class="col s4 m2">
          <left>
          <img class="responsive-img" src="/static/media/icon4.png" width="70" height="70">
        </left>
      </div>
      <div class="col s4">

          <h6 class="center">Dale a tu ropa el uso que merece!</h5>
          <p class="light">Si, hablamos de esa prenda que nunca usaste porque no te gustó como luce. Traelo y verás la diferencia.</p>

      </div>
    </div>
  </div>
<div class="section">
  <div class="row">
    <div class="col s4 m2">
          <left>
          <img class="responsive-img" src="/static/media/icon5.png" width="70" height="70">
        </left>
      </div>
      <div class="col s4">

          <h6 class="center">¿Quieres lucir tus creaciones?</h5>

          <p class="light">Dinos lo que piensas y nosotros la realizaremos por ti.</p>

      </div>
      <div class="col s4 m2">
          <left>
          <img class="responsive-img" src="/static/media/icon6.png" width="70" height="70">
        </left>
      </div>
      <div class="col s4">

          <h6 class="center">¿Te manchaste?</h5>
          <p class="light">Trae todo tipo de ropa y nosotros lo lavamos por ti.</p>

      </div>
    </div>
</div>

</div>
  <br><br>

{% endblock %}
