{% extends 'base.html' %}
{% block title %} Carrito {% endblock %}
{% block content %}
<div class="container">
    <h1>Carrito</h1>
    <div class="row">
      <div class="col s3" style="background-color:lavender;">Articulo</div>
      <div class="col s3" style="background-color:lavender;">Precio</div>
      <div class="col s3" style="background-color:lavender;">Cantidad</div>
      <div class="col s3" style="background-color:lavender;">Opciones</div>
    </div>

    <div class="row">
      <div class="col s3">
        {% for item in cart.items %}
          <p>{{item.product.nombre_producto}}</p>

        {% endfor %}
        <p class="center">Total:</p>
      </div>
      <div class="col s3">
        {% for item in cart.items %}
          <p>{{item.price}}</p>
        {% endfor %}

        <p>
          {{ cart.total }}
        </p>

      </div>

      <div class="col s3">
        {% for item in cart.items %}
          <p>{{item.quantity}}</p>
        {% endfor %}
        {{cart.count}}
      </div>
      <div class="col s3">
        {% for item in cart.items %}
          <p class="center">
            <input class="waves-effect waves-light btn-small" type="button"
            onclick="window.location.href='/carrito/remover/?id={{item.product.id}}'"
            value="Eliminar">
          </input>
            </p>
        {% endfor %}
      </div>

    </div>

    <p class="center">
      <input class="btn btn-info" type="button"
      onclick="window.location.href='/pago/'"
      value="¡Pagar!">
      </input>
    </p>
    <br>
</div>



{% endblock %}
