{% extends "base.html" %}
{% block title %} Pedidos {% endblock %}

{% block content %}

<div class="container">
<h3>Pedidos  realizados</h3>
<p>Clic al pedido para mayor informacion</p>

<table class="highlight">
  <thead>
    <tr>
      <th>Numero de pedido</th>
      <th>Fecha de compra</th>
      <th>Precio Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in list %}
    <tr>
      <td>
        <a href="/Pedidosdescripcion/{{ item.id }}/">{{ item.id}}</a>
      </td>
      <td>
        {{item.Purchase_at}}
      </td>
      <td>
        {{item.precioTotal}}
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
<br></br>
</div>

{% endblock %}
