{% extends 'base.html' %}
{% block title %} Carrito {% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Carrito</h1>
    <div class="row">
      <div class="col-sm-3" style="background-color:lavender;">Articulo</div>
      <div class="col-sm-3" style="background-color:lavender;">Precio</div>
      <div class="col-sm-3" style="background-color:lavender;">Cantidad</div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        {% for item in cart.items %}
          <p>{{item.product.nombre_producto}}</p>
        {% endfor %}
        <p class="right"> Total: </p>
      </div>
      <div class="col-sm-3">
        {% for item in cart.items %}
          <p>{{item.price}}</p>
        {% endfor %}
        <p>
          {% for item in cart.items %}
            {{item.price|add:item.price}}
          {% endfor %}
        </p>
      </div>

      <div class="col-sm-3">
        {% for item in cart.items %}
          <p>{{item.quantity}}</p>
        {% endfor %}
      </div>
      <div class="col-sm-3">
        {% for item in cart.items %}
          <p>
            <input class="btn btn-danger btn-sm" type="button"
            onclick="window.location.href='/carrito/remover/?id={{item.product.id}}'"
            value="Eliminar">
            </input>
        </p>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
