{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
  <h3>Confirmación del pedido</h3>
  <div class="row">
    {% for item in resource.items %}
    <div class="col" style="background-color:white;">
      <p>{{ item.product.nombre_producto }}</p>
      <img src="{{item.product.image_url}}" alt="Producto" width="50" height="50">
      <p>Precio: ${{ item.product.precio }} MXN</p></p>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <p>Total: {{cart.total}}</p>
  </div>

  <table class="responsive-table centered striped">
    <thead>
      <tr>
        <td> <p class="center">Artículos</p> </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.items %}
      <tr>
        <td><img src="{{item.product.image_url}}" alt="Producto" width="50" height="50"></td>
        <td>{{ item.product.nombre_producto }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>Total a Pagar:</td>
        <td>{{cart.total}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <p class="center">Metodo de pago:</p>
    <form action="{{ paypal_url }}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="amount" value="{{ orden.precioTotal }}">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="{{ paypal_email }}">
      <input type="hidden" name="item_name" value="Pedido {{orden.id}}">
      <input type="hidden" name="currency_code" value="MXN">
      <input type="hidden" name="return" value="{{ paypal_return_url }}/purchased/{{orden.id}}">
      <input type="hidden" name="cancel_return" value="{{ paypal_return_url}}/error/">
      <p class="center"><input type="image" src="http://www.paypal.com/en_AU/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!"></p>
    </form>
  </div>

</div>

{% endblock %}
