{% extends "base.html" %}
{% block title %} Pago completo {% endblock %}

{% block content %}

<p>
 <!--
 Agregar desgloce de cosas compradas aqui
 -->
	Haz comprado exitosamente lo siguiente:
	<p>Numero de orden: {{resource.id}}</p>
	<p>Contenido :</P>
	  {% for item in resource.nombre_producto.all %}
	  <li>{{item.nombre_producto}} - Precio : ${{item.precio}}</li>

	  {% endfor %}
	<p>Precio total: ${{resource.precioTotal}}</p>
<p><a href="/home/">Clic para regresar al inicio</a></p>

</p>


{% endblock %}
