{% extends 'base.html' %}
{% block title %} Registrarse {% endblock %}

{% block content %}
  <p><h2>Registrate</h2></p>
<div class = "container">
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <p>
      {{ field.label_tag }} <br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class="btn waves-effect waves-light" name="Registrar">Registrarse</button>
    <script>
      $(document).ready(function(){
        $('label[for="id_username"]').html('Nombre de usuario: ');
        $('label[for="id_user_name"]').html('Nombre: ');
        $('label[for="id_user_last"]').html('Apellido: ');
        $('label[for="id_birth_date"]').html('Fecha de Nacimiento: ');
        $('label[for="id_email"]').html('Correo electronico: ');
        $('label[for="id_password1"]').html('Contraseña: ');
        $('label[for="id_password2"]').html('Confirmar contraseña: ');
    });
    </script>
  </form>
  <br>
</div>
{% endblock %}
