{% extends 'base.html' %}
{% block title %} Registrarse {% endblock %}

{% block content %}
  <p><h2>Registrate</h2></p>
<div class = "container">
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class = "btn btn-secondary" name="singup">Registrarse</button>
  </form>
  <br>
</div>
{% endblock %}
