{% extends "base.html" %}
{% block title %} Sucursales - Sastrerias Beltran {% endblock %}

{% block content %}

<!-- start contact -->
<div class="container">
	<h3>Sucursales</h3>
	<div class="row">
		<div class="col s6">
			<h5>La Mesa</h5>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.178947525437!2d-116.95979899999996!3d32.49464599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb01063590dd5a177!2zU2FzdHJlcsOtYSBCZWx0csOhbg!5e0!3m2!1ses!2sin!4v1421721997946" style="border:0" width="340" height="200" frameborder="0"></iframe>
				<small><a href="https://www.google.co.in/maps/place/Sastrer%C3%ADa+Beltr%C3%A1n/@32.494646,-116.959799,17z/data=!3m1!4b1!4m2!3m1!1s0x0000000000000000:0xb01063590dd5a177" style="font-family: 'Open Sans', sans-serif;color:#555555;text-shadow:0 12px 0 #ffffff; text-align:left;font-size:1px;padding: 5px;">d</a></small>
			</div>
		</div>
		<div class="col s6">
			<h5>5 y 10</h5>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3364.9073640828765!2d-116.96486500000003!3d32.501905000000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9380c59803963%3A0x707d220ffa8a2d77!2sSastreria+Beltran!5e0!3m2!1ses!2sin!4v1421721469226" style="border:0" width="340" height="200" frameborder="0"></iframe>
				<small><a href="https://www.google.co.in/maps/place/Sastrer%C3%ADa+Beltr%C3%A1n/@32.494646,-116.959799,17z/data=!4m7!1m4!3m3!1s0x80d9380f3699404b:0xb01063590dd5a177!2zU2FzdHJlcsOtYSBCZWx0csOhbg!3b1!3m1!1s0x80d9380f3699404b:0xb01063590dd5a1771" style="font-family: 'Open Sans', sans-serif;color:#555555;text-shadow:0 12px 0 #ffffff; text-align:left;font-size:1px;padding: 5px;">d</a></small>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<h6>Correo electronico <i class="tiny material-icons rigth">email</i></h6>
			<p>sastre.beltran@hotmail.com</p>
		</div>
		<div class="col s6">
			<h6>Teléfonos <i class="tiny material-icons rigth">contact_phone</i> </h6>
			<p>(664)626-2092 (La mesa)</p>
			<p>(664)621-7484 (5y10)</p>
		</div>
	</div>

	<div class="row">
		<h6>Referencias</h6>
		<p>Sastrería Beltrán La Mesa</p>
		<p>Frente a plaza Carrusel y Plaza las Brisas.</p>
		<br>
		<p>Sastrería Beltrán 5 y 10</p>
		<p>Frente a Soriana 5 y 10, a un lado de "Farmacias del ahorro".</p>
	</div>
</div>

{% endblock %}
